body {
	background: url("https://s3.amazonaws.com/heroku-adfinitas-campaign/cimade-no%C3%ABl-2017/background.jpg");
	background-size: cover;
}

/* Table settings */
.table
{
	display: table;
	width: 100%;
}

.table-row
{
	display: table-row;
}

.table-cell
{
	display: table-cell;
}

.table-cell.top
{
	vertical-align: top;
}

.table-cell.bottom
{
	vertical-align: bottom;
}

.table-cell.middle
{
	vertical-align: middle;
}
/* End of Table settings */

/* Navigation */
#logo
{
	position: absolute;
	left: 20px;
	top: 30px;
}

nav#mobile
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

nav#desktop .menudesk
{
	/*position: fixed;
	top: 50px;
	right: 20px;
	width: 500px;
	z-index: 9;*/
}

@media screen and (min-width: 891px)
{
	nav#mobile
	{
		display: none;
	}
	nav#desktop .menu-item
	{
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		transition: background-color 0.3s;
	}

	nav#desktop .menu-item:hover
	{
		background-color: #fb3704;
		border-top: 1px solid #fb3704;
		border-bottom: 1px solid #fb3704;
		cursor: pointer;
	}

	nav p
	{
		color: white;
		margin-bottom: 0;
		font-family: 'Helvetica';
		font-weight: 600;
		line-height: 1.1;
		font-size: 18px;
		border-right: 1px solid white;
	}
}

@media screen and (max-width: 890px)
{
	header
	{
		margin-top: 100px;
	}
	nav#desktop
	{
		display: none;
	}

	#logo
	{
		display: none;
	}

	nav#mobile
	{
		text-align: center;
	}

	nav#mobile .menu-item
	{
		background-color: white;
		border-bottom: 1px solid black;
		transition: background-color 0.3s;
	}

	nav#mobile p
	{
		margin-bottom: 0;
		font-family: 'Helvetica';
		font-weight: 600;
		line-height: 1.1;
		font-size: 18px;
		padding: 10px 0;
		color: black;
	}

	nav#mobile .menu-item:hover
	{
		background-color: #fb3704;
		cursor: pointer;
	}

	nav#mobile .deplier
	{
		display: none;
	}
}
/* End of Navigation */

header {
}

header .share {
	padding-top: 20px;
}

header .share_fleche {
	padding-left: 100px;
}

section#partie-centrale
{
	color: white;
}

section#partie-centrale .text
{
	font-size: 22px;
	font-family: Arial;
	line-height: 1.5;
}

section#partie-centrale #question
{
	text-align: center;
	font-size: 28px;
	margin-bottom: 0;
	color: red;
}

section#papier
{
	padding-top: 30px;
}

section#papier .titre
{
	color: red;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	position: relative;
	left: 8px;
	top: 6px;
}

section#papier .container-title
{

	height: 90px;
}

section#papier p
{
	line-height: 1.25;
}

section#papier #part1
{
	height: 79px;
	background: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/cimade-no%C3%ABl-2017/papier-1.png') no-repeat;
	background-size: auto 100%;
}

section#papier #part2
{
	background: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/cimade-no%C3%ABl-2017/papier-2.png') repeat;
	background-size: auto 100%;
}

section#papier #part3
{
	height: 95px;
	background: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/cimade-no%C3%ABl-2017/papier-3.png') no-repeat;
	background-size: auto 100%;
}

section#papier .container-text
{
	padding: 10px;
}

section#papier .row .column:last-child .container-title
{
	position: static;
	top: unset;
}

section#eq .priceCard
{
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0 50px 20px 50px;
	margin-bottom: 20px;
}

section#eq .priceCard .text
{
	color: white;
	font-size: 16px;
	min-height: 125px;
	line-height: 1.6;
}

section#eq .priceCard .amount
{
	color: white;
	font-size: 50px;
	padding-top: 20px;
	margin-bottom: 0;
}

section#eq .priceCard .btn-card
{
	background: #fb3704;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 5px 0;
}

@media screen and (min-width: 40em)
{
	section#papier .row .column:last-child .container-title
	{
		position: relative;
		top: -13px;
	}

	section#papier #part1
	{
		background-size: 100% 100%;
	}

	section#papier #part2
	{
		background-size: 100% 100%;
	}

	section#papier #part3
	{
		background-size: 100% auto;
	}
}

footer {
	background-color: #231F20;
}

footer img {
	padding-top: 30px;
}

footer .socialFooter {
	padding-left: 15px;
	max-width: 85px;
}

footer p {
	padding-top: 30px;
	display: inline-block;
	padding-left: 20px;
	font-family: Arial, serif;
	font-size: 15px;
}

footer p a {
	color: white;
}

footer p a:hover {
	color: #DB4333;
}

@media screen and (max-width: 40em) {
	footer p {
		display: block;
		text-align: center;
		padding-left: 0px;
		padding-top: 0px;
	}
	footer #credits {
		padding-top: 30px;
	}
}

#accordeon {
	margin-top: 50px;
	margin-bottom: 50px;
}

.text_accordeon {
	font-family: Arial, serif;
	font-weight: 400;
	font-size: 20px;
	padding-left: 10px;
	background-color: #A59982;
	height: 35px;
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
}

.plus {
	position: relative;
}

#photo {
	width: 100%;
	height: 462px;
}

.derouler {
	margin-bottom: 5px;
	height: 340px;
	background-color: #D1CDCA;
}

.derouler p{
	font-family: Arial, serif;
	color: black;
	font-size: 16px;
	padding: 10px;
	line-height: 18px;
}

@media screen and (max-width: 40em)
{
	#photo {
		height: 100%;
	}

	.derouler {
		height: 380px;
	}
}

.somme-nous-hide, .mission-hide, .efficacite-hide {
	display: none;
}

li {
	font-family: Arial, serif;
	color: black;
	font-size: 16px;
	padding-left: 10px;
	line-height: 18px;
	display: none;
}

#player {
	max-width: 883px;
	display: inline-block;
}
